*{
	margin: 0;
	padding: 0;
}
body{
	background:url(fnd.jpg);
	background-size: 1400px;
}
.mb{
	position: absolute;	
	background-color: #5B5050;
	left:10%;
	height: 100%;
	width: 80%;
	}
.sf{
	position: absolute;
	left: 10%;
	top: 10%;
	height:30%;
	width: 20%;
	border-radius:100%;
}
.ma{
	position: relative;
	top: 25px;
	font-family: centrury gotic;
	}
.js{
	position: absolute;
	background-color: white;
	height: 10%;
	width: 10%;
	top: 30%;
	left:30%;
	border-radius:50px;
}
.vl{
position: absolute;
	background-color: white;
	height: 10%;
	width: 10%;
	top: 50%;
	left:30%;
	border-radius:50px;
}
.an{
position: absolute;
	background-color: white;
	height: 10%;
	width: 10%;
	top: 30%;
	left:60%;
	border-radius:50px;
}
.et{
	position: absolute;
	background-color: white;
	height: 10%;
	width: 10%;
	top: 50%;
	left:60%;
	border-radius:50px;
}
.vy{
	position: absolute;
	background-color: ;
	height: 30%;
	width: 30%;
	top: 5%;
	left:30%;
	text-decoration-color: white;
}
.xd{
	width: 250px;
	height: 20%;
	margin: 20px auto;
	background: black;
		border-radius:20px;
		color: white;
}
.xd1{
	width: 250px;
	height: 30%;
	margin: 20px auto;
	background: black;
		border-radius:20px;
		color: white;
}
.navegacion{
	width: 180px;
	margin: 60px auto;
	background: black;
}
.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: 'open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: green;
	transition: all .3s;
}
.submenu{
	position: absolute;
	background: black;
	width: 124%;
visibility: hidden;
opacity: 0;
transition: opacity 1.5s;

}
.submenu li a{
	display: block;
	padding: 15px;
	color: white;
	font-family: 'open sans';
	text-decoration: none;
}
.menu li:hover .submenu{
visibility: visible;
opacity: 1;
}
.so{
	position: absolute;
	left: 70%;
	top: 10%;
	height:30%;
	width: 20%;
	border-radius:100%;
}
