body{
	background:url(fnd.jpg);
	background-size: 100%;
}
a{
	font-family: 'stencil';
	text-decoration: none;
}
.mb{
	position: absolute;	
	background-color: #e7e7de;
	top: 2%;
	left:10%;
	height: 120%;
	width: 80%;
	}
.sf{
	position: absolute;
	left: 5%;
	top: 10%;
	height:25%;
	width: 20%;
	border-radius:100%;
}
.ma{
	position: absolute;
	top: 10%;
	left: 5%;
	font-family: stencil;
	}
	.ma2{
	position: absolute;
	top: 40%;
	left: 5%;
	font-family: stencil;
	}
	.ma3{
	position: absolute;
	top: 70%;
	left: 13%;
	font-family: stencil;
	}
.js{
	position: absolute;
	top: 10px;
	left: 10%;
	height: 55%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
		padding: 5px;
		border:solid #00587a 4px; 
	display:all;
}
.js:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.jq{
	height: 10%;
	width: 99%;
	position: absolute;
	background: #0f3057;
		color: white;
	font-family: 'stencil';
	padding: 5px;
}
.vy{
	position: absolute;
	background-color: ;
	height: 30%;
	width: 30%;
	top: 5%;
	left:30%;
	text-decoration-color: white;
}
.xd{
	position: absolute;
	top: 2%;
	left:37.5% ;
	width: 24%;
	height: 5%;
	background: #0f3057;
		border-radius:10px;
		color: white;
	font-family: 'stencil';
	padding: 5px;
	border:solid #008891 4px; 
	display:all;
}
.xd1{
	position: absolute;
	width: 20%;
	height: 16%;
	top: 28%;
	left: 40%;
		border-radius:20px;
		color: #0f3057;
	font-family: 'stencil';
	border:solid blue 2px; 
	display:all;
}
.navegacion{
	position: absolute;
	top: 19%;
	left: 37%;
	width: 26%;
	height: 10%;
}
.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;

}

.menu > li > a{
	display: block;
	color: #0f3057;
	font-family: stencil;
	text-decoration: none;
}
.menu li a:hover{
	color: black;
	transition: all .2s;
}
.submenu{
	position: absolute;
	top: 60%;
	left: 1%;
	width: 100%;
	height: 190%;
visibility: hidden;
opacity: 0;
transition: opacity 1.5s;
}
.submenu li a{
	color: #0f3057;
	font-family: stencil;
	text-decoration: none;
}

.a1{
position: absolute;
top: 0%;
left: 25%;
}
.a2{
position: absolute;
top: 27%;
left: 25%;
}
.a3{
	position: absolute;
top: 56%;
left: 25%;
}
.a4{
	position: absolute;
top: 78%;
left: 25%;
}
.menu li:hover .submenu{
visibility: visible;
opacity: 1;
}
.so{
	position: absolute;
	left: 75%;
	top: 10%;
	height:25%;
	width: 20%;
}
.fl{
	position: absolute;
	left: 32%;
	top: 12%;
	height:62%;
	width:40%
}
.au{
	position: absolute;
	left: 71%;
	top: 52%;
	height: 70%;
	width: 50%;
}
.ae{
	position: absolute;
	right: 55%;
	top: 54%;
	height: 70%;
	width: 40%;
}
.jl{
	position: absolute;	
	background-color: #008891;
	top: 10%;
	left:3%;
	height:75%;
	width: 95%;
	border-radius: 15%;
}
.az{
	position: absolute;
	left: 30%;
	top: 10%;
	height: 40%;
	width: 40%;
}
.letra{
	font-family: stencil;
	color: white;
}
.vl{
position: absolute;
	top: 10px;
	left: 70%;
	height: 55%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
		padding: 5px;
		border:solid #00587a 4px; 
	display:all;
}
.vl:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.an{
position: absolute;
	top: 10px;
		left: 76%;
	height: 55%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
		padding: 5px;
		border:solid #00587a 4px; 
	display:all;
}
.an:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.et{
	position: absolute;
	top: 10px;
	left: 82%;
	height: 55%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
	padding: 5px;
	border:solid #00587a 4px; 
	display:all;
}
.et:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.jm{
	background-color:black;
	position: absolute;
	height:15%;
	width: 18%; 
	left: 10%;
	top: 10%;
	border-radius: 20px;
	color: white;

}

.jx{
	position: absolute;	
	background-color: #0f3057;
	top: 10%;
	left:3%;
	height:75%;
	width: 95%;
	border-radius: 15px;
}
.jw{
	position: absolute;	
	background-color: black;
	top: 10%;
	left:35%;
	height:15%;
	width: 15%;
	border-radius: 15px;
	color: white;
}