body{
	background:url(fnd.jpg);
	background-size: 100%;
}
a{
	font-family: 'stencil';
	text-decoration: none;
}
.mb{
	position: absolute;	
	background-color: #e7e7de;
	top: 2%;
	left:10%;
	height: 120%;
	width: 80%;
	}
.sf{
	position: absolute;
	left: 5%;
	top: 10%;
	height:25%;
	width: 20%;
	border-radius:100%;
}
.ma{
	position: absolute;
	top: 10%;
	left: 5%;
	font-family: stencil;
	}
	.ma2{
	position: absolute;
	top: 40%;
	left: 5%;
	font-family: stencil;
	}
	.ma3{
	position: absolute;
	top: 70%;
	left: 13%;
	font-family: stencil;
	}
.js{
	position: absolute;
	top: 2%;
	left: 10%;
	height: 5%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
		padding: 5px;
		border:solid #00587a 4px; 
	display:all;
}
.js:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.jq{
	height: 10%;
	width: 99.3%;
	position: absolute;
	background: #0f3057;
		color: white;
	font-family: 'stencil';
	padding: 5px;
}
.vy{
	position: absolute;
	background-color: ;
	height: 30%;
	width: 30%;
	top: 5%;
	left:30%;
	text-decoration-color: white;
}
.xd{
	position: absolute;
	top: 5%;
	left:37.5% ;
	width: 24%;
	height: 5%;
	background: #0f3057;
		border-radius:10px;
		color: white;
	font-family: 'stencil';
	padding: 5px;
	border:solid #008891 4px; 
	display:all;
}
.xd1{
	position: absolute;
	width: 20%;
	height: 16%;
	top: 28%;
	left: 40%;
		border-radius:20px;
		color: #0f3057;
	font-family: 'stencil';
	border:solid blue 2px; 
	display:all;
}
.a1{
position: absolute;
top: 30%;
left: 40%;
height: 6%;
width: 9.5%;
color: #0f3057;
border-radius:12px;
}
.a1:hover{
	color: #16c79a;
	background-color: black;
	border:solid #16c79a 2px; 
}
.a2{
position: absolute;
top: 30%;
left: 50%;
height: 6%;
width: 9.5%;
color: #0f3057;
border-radius:12px;
}
.a2:hover{
	color: #16c79a;
	background-color: black;
	border:solid #16c79a 2px; 
}
.a3{
position: absolute;
top: 37%;
left: 40%;
height: 6%;
width: 9.5%;
color: #0f3057;
border-radius:12px;
}
.a3:hover{
	color: #16c79a;
	background-color: black;
	border:solid #16c79a 2px; 
}
.a4{
position: absolute;
top: 37%;
left:50%;
height: 6%;
width: 9.5%;
color: #0f3057;
border-radius:12px;
}
.a4:hover{
	color: #16c79a;
	background-color: black;
	border:solid #16c79a 2px; 
}
.so{
	position: absolute;
	left: 75%;
	top: 10%;
	height:25%;
	width: 20%;
}
.fl{
	position: absolute;
	left: 32%;
	top: 12%;
	height:62%;
	width:40%
}
.au{
	position: absolute;
	left: 71%;
	top: 52%;
	height: 70%;
	width: 50%;
}
.ae{
	position: absolute;
	right: 55%;
	top: 54%;
	height: 70%;
	width: 40%;
}
.jl{
	position: absolute;	
	background-color: #008891;
	top: 12%;
	left:3%;
	height:75%;
	width: 95%;
	border-radius: 105px;
}
.az{
	position: absolute;
	left: 30%;
	top: 10%;
	height: 40%;
	width: 40%;
}
.letra{
	font-family: stencil;
	color: white;
}
.vl{
position: absolute;
	top: 2%;
	left: 70%;
	height: 5%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
		padding: 5px;
		border:solid #00587a 4px; 
	display:all;
}
.vl:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.an{
position: absolute;
	top: 2%;
		left: 76%;
	height: 5%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
		padding: 5px;
		border:solid #00587a 4px; 
	display:all;
}
.an:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.et{
	position: absolute;
	top: 2%;
	left: 82%;
	height: 5%;
	background: #0f3057;
	border-radius:10px;
	color: white;
	font-family: 'stencil';
	text-decoration: none;
	padding: 5px;
	border:solid #00587a 4px; 
}
.et:hover{
	border:solid #16c79a 4px; 
}
.jm{
	background-color:black;
	position: absolute;
	height:15%;
	width: 18%; 
	left: 10%;
	top: 10%;
	border-radius: 20px;
	color: white;
	border:solid #00587a 4px; 
}
.jm:hover{
	border:solid #16c79a 4px; 
}

.jx{
	position: absolute;	
	background-color: #0f3057;
	top: 10%;
	left:3%;
	height:75%;
	width: 95%;
	border-radius: 15px;
}
.jw{
	position: absolute;	
	background-color: black;
	top: 10%;
	left:35%;
	height:15%;
	width: 15%;
	border-radius: 15px;
	color: white;
	border:solid #00587a 4px; 
	display:all;
}
.jw:hover{
	border:solid #16c79a 4px; 
	display:all;
}
.periodo{
position: absolute;	
	top: 21%;
	left:43%;
	height:4%;
	width: 15%;
	border-radius: 10px;
	color: #0f3057;
}
.periodo:hover{
	color: #16c79a;
	background-color: black;
	border:solid #16c79a 2px; 
}
.inicio{
position: absolute;	
	top: 21%;
	left:43%;
	height:%;
	width: 15%;
	border-radius: 10px;
	color: #0f3057;
}
.inicio:hover{
	color: #16c79a;
	background-color: black;
	border:solid #16c79a 2px; 
}
.jt{
	position: absolute;	
	background-color: #222831;
	top: 10%;
	left:55%;
	height:15%;
	width: 15%;
	border-radius: 15px;
	color: white;
	border:solid #00587a 4px; 
	display:all;
}
.jt:hover{
	border:solid #16c79a 4px; 
	display:all;
}
